<div class=" p-5">
    <h2 class="text-start text-shadow-lg text-shadow-main  text-text text-2xl">{{'events.historic.title'|translate}}</h2> <i class="fa-solid fa-minus "></i>
    <p class="my-5 text-shadow-lg text-shadow-main  text-text text-xl">{{'events.historic.description'|translate}}</p> 
  <owl-carousel-o class=" w-[80%] " [options]="customOptions">
    <ng-template carouselSlide><img src="events/A historic visit from  Dr.magda saleh/78266101_2735082909901114_1010804717569179648_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="A historic visit from  Dr.magda saleh"></ng-template>  
    <ng-template carouselSlide><img src="events/A historic visit from  Dr.magda saleh/78268391_2745159572226781_2037632583730200576_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="A historic visit from  Dr.magda saleh"></ng-template>  
    <ng-template carouselSlide><img src="events/A historic visit from  Dr.magda saleh/78401014_2745162238893181_8930761232147808256_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="A historic visit from  Dr.magda saleh"></ng-template>
    <ng-template carouselSlide><img src="events/A historic visit from  Dr.magda saleh/78432949_2736708013071937_6567632181068300288_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="A historic visit from  Dr.magda saleh"></ng-template>  
    <ng-template carouselSlide><img src="events/A historic visit from  Dr.magda saleh/79250648_2745159305560141_2273824826885931008_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="A historic visit from  Dr.magda saleh"></ng-template>  
    <ng-template carouselSlide><img src="events/A historic visit from  Dr.magda saleh/79197384_2735082879901117_9093338049382711296_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="A historic visit from  Dr.magda saleh"></ng-template>
  
    
  </owl-carousel-o>
</div>
