<section class=" container my-20 width-[80%] mx-auto rounded-lg p-9 shadow-black" id="contact">

    <div class=" flex rounded-lg p-9 shadow-black" id="contact">
        <h2 class="  text-shadow-main text-4xl  text-text mt-2 lg:mt-10 me-auto">{{'contact.title'|translate}}</h2>

        <figure>
            <img src="Assets/contact.jpg" alt="contact us" class="w-40 lg:w-60 rounded rounded-5 ">
        </figure>
    </div>

    <div class="grid grid-cols-12 gap-4 bg-white/20 rounded rounded-5 mx-auto ">
        <div class="col-span-12 lg:col-span-6 p-5">

            <h3 class="text-2xl text-text">{{'contact.title'|translate}}</h3>
            <p class="text-text">{{'contact.description'|translate}}</p>
            
            <p class="text-text">{{'contact.email'|translate}}</p>

            <p class="text-text">{{'contact.phone'|translate}}</p>
        </div>
        <div class="col-span-12 lg:col-span-6">

            <figure>
                <img src="Assets/contact.webp" alt="contact us" class="w-full rounded rounded-5">
            </figure>

        </div>
    </div>




</section>
