<div class="container mx-auto ">
    <h2 class="text-start text-shadow-lg text-shadow-main  text-text text-2xl">{{'events.our champions in gymnastics'|translate}}</h2><i class="fa-solid fa-minus"></i>
    <p class="my-5 text-shadow-lg text-shadow-main  text-text text-xl">{{'events.our champions in gymnastics description'|translate}}</p>
  <owl-carousel-o class=" w-[80%] p-5" [options]="customOptions">
      <ng-template carouselSlide><img src="events/Our champions in gymnastics/141371366_3869698623106198_1713769165045805210_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="Our champions in gymnastics Event"></ng-template>  
      <ng-template carouselSlide><img src="events/Our champions in gymnastics/140249637_3869698476439546_3657299346941620879_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="Our champions in gymnastics Event"></ng-template>  
      <ng-template carouselSlide><img src="events/Our champions in gymnastics/140930874_3869698339772893_8518907423361519432_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="Our champions in gymnastics Event"></ng-template>
    <ng-template carouselSlide><img src="events/Our champions in gymnastics/140799543_3869698719772855_8643909063021871774_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="Our champions in gymnastics Event"></ng-template>  
  </owl-carousel-o>
</div>
