
    <div class="container mx-auto rounded-lg p-9 shadow-black" id="news">

<div class="flex ">
   <figure>
      <img src="Assets/news.jpg" alt="News" class="w-40 lg:w-60 rounded rounded-5">
   </figure>
    <div class="flex p-2 justify-center ms-auto  text-center"><h2 class="text-center text text-shadow-main text-4xl text-text mt-0  lg:mt-10">{{'news.title'|translate}}</h2></div>

</div>    
    
   
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
        
        <div class="md:col-span-2 shadow-black p-5 rounded-lg p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text ">
           <app-first/>
        </div>
        
       
        <div class= "shadow-black p-5 rounded-lg p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text ">
           <app-minya />

        </div>
        <div class= "shadow-black p-5 rounded-lg  p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text shadow-black p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text shadow-black p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text shadow-black p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text shadow-black p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text shadow-black p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text shadow-black p-5 rounded-lg bg-white/20 rounded- dark:bg-gray-900 text-text ">
           <app-girls/>
        </div>
    </div>
</div>

