@if(!land){
        <section class="mx-auto container width-[80%] flex-column">
    <div class="img-fluid  justify-center" >
        <h2 class="text-center text text-shadow-main text-4xl text-text mt-20">{{'news.girls.title'|translate}}</h2><i class="fa-solid fa-minus ms-[50%]"></i>
        <figure class="">
            <img src="News/Girls/864567-80577715.jpg" alt="Girls learn ballet steps in conservative Upper Egypt" class="mx-auto rounded rounded-5 my-5">

            <figcaption>
                <p class="text-center text-text text-shadow-main text-2xl my-10">{{'news.girls.P-description'|translate}}</p>
            </figcaption>
        </figure>


    </div>
    <div class="flex justify-center">
        <button routerLink="/girls" class="hover:bg-icons hover:text-white transition-all duration-300 cursor-pointer text-text text-2xl px-5 py-2 rounded rounded-5">{{'news.button'|translate}}</button>
    </div>

</section>



}@else {
        <section class="mx-auto container width-[80%] flex-column mt-30 px-5">
    <div class="img-fluid  justify-center" >
        <h2 class="text-center text text-shadow-main text-4xl text-text mt-20">{{'news.girls.title'|translate}}</h2><i class="fa-solid fa-minus ms-[50%]"></i>
        <figure class="">
            <img src="News/Girls/864567-80577715.jpg" alt="First ballet show in Minya to be performed" class="mx-auto rounded rounded-5 my-5">

            <figcaption>
                <p class="text-center text-text text-shadow-main text-2xl my-10">{{'news.girls.F-description-1'|translate}}</p>
                <p class="text-center text-text text-shadow-main text-2xl my-10">{{'news.girls.F-description-2'|translate}}</p>
                <p class="text-center text-text text-shadow-main text-2xl my-10">{{'news.girls.F-description-3'|translate}}</p>
                <p class="text-center text-text text-shadow-main text-2xl my-10">{{'news.girls.F-description-4'|translate}}</p>




            </figcaption>
        </figure>


    </div>
    <iframe
      class="w-[80%] h-100 mx-auto"
      src="https://www.youtube.com/embed/AJhhtEW29v4"
      title="Girls learn ballet steps in conservative Upper Egypt"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
    <div class="flex flex-col lg:flex-row lg:justify-between">
        <div>
            <a class="text-text text-shadow-main text-2xl flex items-center justify-center px-4 py-2 bg-main text-black mx-auto rounded-md hover:bg-opacity-90 transition-all duration-300 shadow-md nav button mt-10 text-2xl text-text cursor-pointer hover:text-icons w-fit" href="https://www.arabnews.com/node/1062052/offbeat" target="_blank">Read Full Article</a>

        </div>
        <div >
            <app-homenav/>
        </div>
    </div>

</section>



}