<section class="d-flex flex-row gap-5 mx-auto">
   <div class="Slogan text-center text-xxl-center container mx-auto my-20 ">

    <figure class="flex flex-col items-center h-30 w-100 lg:mx-auto ">
        <img src="Assets/Alwanat_logo_no_bg.png" class="w-70 ms-20 justify-content-center items-center   sm:self-start" alt="Alwanat Logo" />
        <figcaption class="text-text text-4xl text-nowrap mt-10  text-shadow-lg text-shadow-main w-full  font-extrabold font-slogan ">{{'hero.slogan' |translate}}</figcaption>
    </figure>
    

   </div>
   
</section>
