<div>
    <h2 class="text-start text-text text-shadow-lg text-shadow-main  text-2xl">{{'events.gymnastics'|translate}}</h2> <i class="fa-solid fa-minus"></i>
    <p class="my-5 text-text text-shadow-lg text-shadow-main  text-xl">{{'events.gymnastics description'|translate}}</p>
  <owl-carousel-o class=" w-[80%] p-5" [options]="customOptions">
    <ng-template carouselSlide><img src="events/Gymnastics/471993407_9170891082986899_9006969877843660654_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="gymnastics Event"></ng-template>  
    <ng-template carouselSlide><img src="events/Gymnastics/471972536_9170891432986864_69889826730519461_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="gymnastics Event"></ng-template>  
    <ng-template carouselSlide><img src="events/Gymnastics/471983501_9170882462987761_966939410131674383_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="gymnastics Event"></ng-template>
       <ng-template carouselSlide><img src="events/Gymnastics/471993407_9170891082986899_9006969877843660654_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="gymnastics Event"></ng-template>  
    <ng-template carouselSlide><img src="events/Gymnastics/472199313_9170882546321086_3191238976312042309_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="gymnastics Event"></ng-template>  
    <ng-template carouselSlide><img src="events/Gymnastics/472207986_9170882516321089_8160548401506624520_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="gymnastics Event"></ng-template>
    <ng-template carouselSlide><img src="events/Gymnastics/472208589_9170891012986906_939669967846718128_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="gymnastics Event"></ng-template>  
    <ng-template carouselSlide><img src="events/Gymnastics/472210810_9170891129653561_1180307419774527915_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="gymnastics Event"></ng-template>  
    <ng-template carouselSlide><img src="events/Gymnastics/472309697_9170882552987752_3478053161468823943_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="gymnastics Event"></ng-template>
  </owl-carousel-o>
</div>