<div>
    <h2 class="text-start text-shadow-lg text-shadow-main  text-text text-2xl">{{'events.seven years of alwanat'|translate}}</h2> <i class="fa-solid fa-minus "></i>
    <p class="my-5 text-shadow-lg text-shadow-main  text-text text-xl">{{'events.seven years of alwanat description'|translate}}</p> 
  <owl-carousel-o class=" w-[80%] p-5" [options]="customOptions">
    <ng-template carouselSlide><img src="events/7 years/474148192_9273315306077809_2122443009260871323_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="7 years Event"></ng-template>  
    <ng-template carouselSlide><img src="events/7 years/474391948_9273315309411142_1191990189516973684_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="7 years Event"></ng-template>  
    <ng-template carouselSlide><img src="events/7 years/474474089_9273315332744473_6101865247999389347_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="7 years Event"></ng-template>
       <ng-template carouselSlide><img src="events/7 years/474480666_9273315062744500_382662979244636766_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="7 years Event"></ng-template>  
    <ng-template carouselSlide><img src="events/7 years/474504108_9273315316077808_4622799423524301051_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="7 years Event"></ng-template>  
    <ng-template carouselSlide><img src="events/7 years/474637293_9273315049411168_4082805557926287362_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="7 years Event"></ng-template>
    <ng-template carouselSlide><img src="events/7 years/474637293_9273315049411168_408280555796287362_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="7 years Event"></ng-template>  
    <ng-template carouselSlide><img src="events/7 years/474683033_9273315356077804_6536294957251084407_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="7 years Event"></ng-template>  
  </owl-carousel-o>
</div>
