<div>
    <h2 class="text-start text-shadow-lg text-shadow-main  text-text text-2xl">{{'events.message.title'|translate}}</h2> <i class="fa-solid fa-minus "></i>
    <p class="my-5 text-shadow-lg text-shadow-main  text-text text-xl">{{'events.message.description'|translate}}</p> 
  <owl-carousel-o class=" w-[80%] p-5" [options]="customOptions">
    <ng-template carouselSlide><img src="events/Message of Life/106319857_3272068056202594_7412053749224906886_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="Message of Life"></ng-template>  
    <ng-template carouselSlide><img src="events/Message of Life/106480640_3272067619535971_3307406806428176120_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="Message of Life"></ng-template>  
    <ng-template carouselSlide><img src="events/Message of Life/106743637_3272687472807319_4440943087855879231_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover"  alt="Message of Life"></ng-template>
    <ng-template carouselSlide><img src="events/Message of Life/106908664_3272687482807318_778447821423943722_n.jpg" class="card-img rounded-lg aspect-[16/9] w-full h-full object-cover" alt="Message of Life"></ng-template>  
  
    
  </owl-carousel-o>
</div>

